@model List<Ejercicio_T8_2C_MVC.Models.mEventos>
@{
    ViewBag.Title = "CuotaEvento";
}

<h2>Cuotas y Evento</h2>


<div class="row">

    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Evento</th>
                <th>campo1</th>
                <th>campo22</th>
            </tr>


            @foreach (var Elemento in Model)
            {
                <tr
                </tr>

            }

        </table>

    </div>
</div>

