
@{
    ViewBag.Title = "Historico";
}

<h2>Historial de apuestas</h2>


<div class="row">

    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Id Apuesta</th>
                <th>Fecha</th>
                <th>Cantidad</th>
            </tr>

            

            @*@foreach (var Elemento in Model)
                {
                    <tr>
                    </tr>

                }*@

        </table>

    </div>
</div>